<md-content class="offer md-padding" flex>
    <div class="loading" data-ng-if="vm.loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>
    <div data-ng-class="vm.loading ? 'opacity-50' : ''"  flex  layout-fill layout="column" layout-align="space-between none">
        <div>
            <h4 class="md-subhead no-margin-top no-margin-bottom">Kuvaus</h4>

            <p class="md-body-1 no-margin-top">
                {{::vm.offer.description}}
            </p>
        </div>

        <md-input-container class="no-margin" layout="column">
            <md-button type="submit" class="md-raised md-primary" data-ng-click="vm.submit()">Osta</md-button>
        </md-input-container>
    </div>
</md-content>