<md-content class="md-padding no-padding-top" flex>
    <md-list flex>
        <md-subheader class="md-no-sticky">{{ ::vm.offers.length | number }} tarjousta</md-subheader>

        <md-list-item class="md-3-line" ng-repeat="offer in vm.offers" data-ng-click="null">
            <md-icon class="md-avatar-icon">donut_small</md-icon>

            <div class="md-list-item-text">
                <div layout="row" layout-align="space-between center">
                    <h3>{{::offer.name}}</h3>
                    <p class="price">{{::offer.price}}€</p>
                </div>
                <p>{{::offer.description}}</p>

                <md-icon class="md-secondary" aria-label="Osta">shopping_cart</md-icon>
            </div>
        </md-list-item>
    </md-list>
</md-content>
