.offer-list {
  .md-list-item-inner {
    padding-top: 8px;

    div.md-list-item-text {
      margin: 0px;
      h3.md-headline {
        font-weight: 500;
      }
    }
  }
}

p.price {
  padding-right: 15px;
}