.workshop-list {
  .angular-rating-icons {
    margin: -11px 0 0 0;
  }

  .md-list-item-inner {
    padding-top:8px;

    div.md-list-item-text {
      margin:0px;
      h3.md-headline {
        font-weight:500;
      }
    }
  }

  md-list-item .md-avatar-icon,
  md-list-item .md-list-item-inner .md-avatar-icon {
    margin-top: 0;
  }

  .location {
    margin-left: 16px;

    md-icon {
      position: relative;
      top: -4px;
      font-size: 16px;
      margin-right: -10px;
    }

    span {
      position: relative;
      top: -7px;
    }

    font-size: 12px;
  }
}

.md-toolbar-tools {
  &.md-accent {
    background-color: #4a638f;
  }
}
