<md-content class="workshop-list md-padding no-padding-top" flex>
    <md-list flex>
        <md-subheader class="md-no-sticky">{{ ::vm.workshops.length | number }} {{ ::vm.serviceType }}a</md-subheader>

        <md-list-item class="md-3-line" data-ng-repeat="workshop in vm.workshops | orderBy: vm.sharedData.order" data-ng-click="null">
            <img data-ng-if="workshop.image" ng-src="{{ ::workshop.image }}" class="md-avatar" alt="{{ ::workshop.name }}" />

            <md-icon class="md-avatar-icon" data-ng-if="!workshop.image">directions_car</md-icon>

            <div class="md-list-item-text" layout="column">
                <h3>{{ ::workshop.name }}</h3>
                <h4>{{ ::workshop.address }}, {{ ::workshop.postalCode }} {{ ::workshop.city }}</h4>
                <div layout="row" layout-align="start center">
                    <div
                        data-angular-rating-icons
                        data-ng-model="workshop.rating"
                        data-max=10
                        data-icon-empty="fa-star-o"
                        data-icon-full="fa-star"
                        data-icon-hover="fa-star"
                        data-color-base="orange"
                        data-color-selected="orange"
                        data-color-hover="orange"
                        data-icon-size="20"
                        data-icon-spacing="2"
                        data-read-only="true"
                        data-decimal
                    ></div>

                    <div class="location">
                        <md-icon class="md-primary">location_on</md-icon>

                        <span>
                            {{ ::workshop.distance | number: 1}}km
                        </span>
                    </div>
                </div>
            </div>
        </md-list-item>
    </md-list>
</md-content>
