<md-content class="workshop" flex>
    <md-content class="md-padding main-icon-container" layout="row" layout-align="space-around center">
        <md-button class="md-primary" aria-label="Soita" layout="column" layout-align="center center" data-ng-href="tel: +{{ ::vm.workshop.phone }}">
            <md-icon>phone</md-icon>

            <span>Soita</span>
        </md-button>

        <md-button class="md-primary" aria-label="Ota yhteyttä" layout="column" layout-align="center center">
            <md-icon>perm_contact_calendar</md-icon>

            <span>Ota yhteyttä</span>
        </md-button>

        <md-button class="md-primary" aria-label="Navigoi" layout="column" layout-align="center center">
            <md-icon>navigation</md-icon>

            <span>Navigoi</span>
        </md-button>
    </md-content>

    <md-divider></md-divider>

    <md-content class="md-padding">
        <md-list>
            <md-list-item class="md-padding md-no-proxy">
                <md-icon class="md-primary">phone</md-icon>

                <md-button data-ng-href="tel: +{{ ::vm.workshop.phone }}">{{ ::vm.workshop.phone | phoneNumber }}</md-button>
            </md-list-item>

            <md-list-item class="md-padding md-no-proxy">
                <md-icon class="md-primary">email</md-icon>

                <md-button data-ng-href="mailto: {{ ::vm.workshop.email }}">{{ ::vm.workshop.email }}</md-button>
            </md-list-item>

            <md-list-item>
                <md-icon class="md-primary">access_time</md-icon>

                <p>Avoinna tänään 08:00 - 17:00</p>
            </md-list-item>
        </md-list>
    </md-content>

    <md-divider></md-divider>

    <md-content class="md-padding">
        <md-content class="md-padding">
            <h4 class="md-subhead no-margin-top no-margin-bottom">Kuvaus</h4>

            <p class="md-body-1">Lorem ipsum dolor</p>

            <h4 class="md-subhead no-margin-top no-margin-bottom">Huoltaa merkkejä</h4>

            <p class="md-body-1">Lorem ipsum dolor</p>
        </md-content>
    </md-content>
</md-content>
